/* custom classes */
.all-center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.items-center-flex {
    display: flex;
    align-items: center;
}

.base-btn,
.base-btn-blue {
    border: 0;
    background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
    color: #FFF;
    padding: 21px 40px;
    border-radius: 48px;
    font-size: 20px;
    font-weight: 600;
}

.base-btn-blue {
    background: #4EC5F7;
}

.gradient-text {
    background: -webkit-linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    color: transparent;
}

/* Reset Default Style  */
body {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

/* Navbar Style  */
nav {
    padding: 0 150px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>div {
    display: flex;
    align-items: center;
    gap: 20px;
}

nav>div>h1 {
    margin: 0;
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
}

nav>div>h1>span {
    color: #FF42A5;
}

menu {
    gap: 10px;
}

menu a {
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    gap: 10px;
}

menu a:last-child {
    padding: 10px 20px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

/* Play sction  */
.play-section {
    padding: 100px 150px 0 150px;
    justify-content: space-between;
    background: linear-gradient(235deg, rgba(140, 87, 238, 0.03) 3.9%, rgba(241, 68, 174, 0.03) 100.56%);

}

.play-img-container {
    width: 50%;
}

.play-img-container>img {
    width: 100%;
}

.play-description-heading {
    font-size: 95px;
    font-weight: 800;
    margin: 0;
}

.play-description-container>h3 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
}

.play-description-container>a {
    text-decoration: none;
    gap: 12px;
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.play-description-container>div {
    gap: 20px;
    margin-top: 20px;
}

/* Online Games */
.online-games-section {
    margin-top: 120px;
}

.online-games-heading {
    text-align: center;
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
}

.online-games-section>p {
    margin-top: 16px;
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 16px;
}

.games {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(4, 1fr);
    padding: 50px 150px 0 150px;
}

.game>p {
    margin-top: 10px;
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 500;

}

.game-img-container:hover .shadow {
    opacity: 1;
}

.shadow {
    height: 300px;
    border: 4px solid #FF42A5;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.732);
    opacity: 0;
    transition: all;
    transition-duration: 0.3s;
    flex-direction: column;
    gap: 20px;
}

.shadow>svg {
    cursor: pointer;
}

.shadow>p {
    font-size: 20px;
    font-weight: 600;
}

.game-img-container {
    background-size: 100% 100%;
}

#game-1 {
    background-image: url('./images/Rectangle 4.png');
}

#game-2 {
    background-image: url('./images/Rectangle 5.png');
}

#game-3 {
    background-image: url('./images/Rectangle 7.png');
}

#game-4 {
    background-image: url('./images/Rectangle 6.png');
}

.shadow>img {
    width: 100px;
}

/* instant-play */

.instant-play {
    padding: 100px 150px 100px 150px;
    justify-content: space-between;
}

.instant-play-description {
    width: 35%;
    text-align: right;
}

.instant-play-description>h1 {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
}

.instant-play-description>p {
    margin-top: 10px;
    color: #534C64;
    font-size: 18px;
}

.instant-play-img {
    position: relative;
    width: 50%;
    padding-bottom: 50px;
}

.instant-play-img img:nth-child(1) {
    width: 100%;
}

.absolute-img {
    position: absolute;
    left: -110px;
    bottom: 0;
    width: 220px;
}

.game-chips {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(5, 1fr);
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
}

.game-chips>div {
    display: grid;
    justify-content: center;
    align-items: center;
}

.chip {
    border: 0;
    border-radius: 50px;
    color: #0B0223;
    background: white;
    font-size: 16px;
    font-weight: 600;
    gap: 12px;
    padding: 10px;
    border: 1.5px solid transparent;
}

.chip:hover {
    cursor: pointer;
    background: -webkit-linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    color: transparent;
    border: 1.5px solid #FF42A5;
}

footer {
    margin-top: 100px;
    padding: 50px;
    color: white;
    background: #0B0223;
}

.footer-logo {
    gap: 10px;

}

.footer-menu {
    padding-top: 50px;
    width: 50%;
    margin: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(6, 1fr);
}

.footer-menu>a {
    text-decoration: none;
    color: white;
    font-size: 20px;

}

.media-icons {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    align-items: center;
    width: 50%;
    gap: 20px;
    margin: auto;
}

.media-icons>a {
    display: grid;
    justify-content: center;
    text-decoration: none;
}

.terms{
    padding-top: 50px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    margin: auto;
    width: 60%;
}
.terms>a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.60);
    font-size: 20px;
}
.copy-right{
    text-align: center;
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.60);

}

/* Resposive design */
@media (max-width: 769px) {
    nav {
        width: full;
        padding: 50px 0 0 0;
        flex-direction: column;
    }

    menu {
        margin-top: 50px;
        flex-direction: column;
        gap: 30px;
        padding: 0;
    }

    .play-description-container>h3 {
        font-size: 30px;
    }

    .play-description-container>h1 {
        font-size: 50px;
    }

    .play-description-container>a {
        font-size: 15px;

    }

    .play-section {
        gap: 50px;
        padding: 100px 50px 0 50px;
    }

    .base-btn,
    .base-btn-blue {
        padding: 10px 20px;
        border-radius: 24px;
        font-size: 15px;
    }

    .online-games-section {
        margin-top: 80px;
    }

    .online-games-heading {
        font-size: 30px;
    }

    .games {
        padding: 0 100px 0 100px;
        grid-template-columns: repeat(2, 1fr);
    }

    .instant-play {
        padding: 60px;
    }

    .instant-play-img {
        width: 50%;
        margin-top: 50px;
    }

    .absolute-img {
        left: -50px;
        width: 100px;
    }

    .instant-play-description>h1 {
        font-size: 35px;
        text-align: right;
    }

    .instant-play-description>p {
        font-size: 15px;
    }

    .instant-play-description {
        width: 40%;
    }

    .game-chips {
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-menu {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 10px;
        column-gap: 50px;
        width: 70%;
    }

    .footer-menu>a {
        display: grid;
        justify-content: center;
        font-size: 16px;
    }
    .media-icons {
        grid-template-columns: repeat(3, 1fr);
    }
    .terms{
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

@media (max-width: 576px) {
    .play-section {
        flex-direction: column-reverse;
        gap: 50px;
        padding: 100px 50px 0 50px;
    }

    .play-img-container {
        width: 100%;
    }

    .games {
        padding: 0 50px 0 50px;
        grid-template-columns: repeat(1, 1fr);
    }

    .instant-play {
        padding: 60px;
        flex-direction: column;
    }

    .instant-play-img {
        width: 90%;
        margin-top: 50px;
    }

    .absolute-img {
        left: -50px;
        width: 100px;
    }

    .instant-play-description>h1 {
        font-size: 35px;
        text-align: center;
    }

    .instant-play-description>p {
        text-align: center;
    }

    .br-hidden {
        display: none;
    }

    .instant-play-description {
        width: 100%;
    }

    .chip {
        font-size: 10px;
        gap: 5px;
        padding: 5px;
        font-weight: 500;
    }

    .chip>img {
        width: 20px;
    }

    .footer-menu {
        width: 100%;
        gap: 20px;
    
    }
    .terms{
        width: 100%;
    }
    .terms>a{
        font-size: 15px;
    }
}